<% @sessions.each do |session| %>
<br>
<div class="session">
<div class="session-date">@<%= session.date_of %>:</div>
<div class="session-id">session-id:<%= session.id %></div>

</div>

<% end %>



<h1>some text</h1>

<% @sessions.each do |session| %>
<br>
<div class="session">
<div class="session-date">@<%= session.date_of %>:</div>
<div class="session-id">session-id:<%= session.id %></div>
<% session.users.each do |user| %>
<div class="session-user">session-user:<%= user.email %></div>
<% end %>
</div>

<% end %>